In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('data/world_cities.csv', index_col = 0)

In [8]:
df

    City / Urban area     Country  Population  Land area (in sqKm)
0        Buenos Aires   Argentina    11200000                 2266
1           Melbourne   Australia     3162000                 2080
2              Sydney   Australia     3502000                 1687
3            Brisbane   Australia     1508000                 1603
4               Perth   Australia     1177000                  964
..                ...         ...         ...                  ...
245            Canton         USA      267000                  372
246           Spokane         USA      335000                  371
247          Tashkent  Uzbekistan     2200000                  531
248  Ho Chi Minh City     Vietnam     4900000                  518
249            Harare    Zimbabwe     1750000                  712

[249 rows x 4 columns]

In [15]:
df['City / Urban area'].describe()

count            249
unique           249
top       Manchester
freq               1
Name: City / Urban area, dtype: object

In [16]:
df['Country'].describe()

count     249
unique     61
top       USA
freq      105
Name: Country, dtype: object

In [24]:
condition = (df['Population'] / df['Land area (in sqKm)'] > 10000)
df.loc[condition, 'Country'].describe()

count        19
unique       12
top       India
freq          5
Name: Country, dtype: object

In [27]:
df['인구밀도'] = (df['Population'] / df['Land area (in sqKm)'])

In [43]:
df_high_density = df[df["인구밀도"] == df["인구밀도"].max()]

In [45]:
df_high_density

   City / Urban area Country  Population  Land area (in sqKm)          인구밀도
75            Mumbai   India    14350000                  484  29648.760331

In [56]:
recommend = df['Country'].value_counts()

In [57]:
recommend

USA           105
France         15
Brazil         10
Canada          9
Germany         8
             ...
Azerbaijan      1
Thailand        1
Greece          1
Nigeria         1
Lebanon         1
Name: Country, Length: 61, dtype: int64

In [58]:
recommend[recommend == 4]

Italy    4
Name: Country, dtype: int64

In [60]:
recommend.head()

USA        105
France      15
Brazil      10
Canada       9
Germany      8
Name: Country, dtype: int64